<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <h3 class="mypage-name" style="color: white;">
          <%= @customer.name %>さんのプロフィール<br><br>
            <% if @customer.image.attached? %>
              <%= image_tag @customer.image, size: "200x200" %>
            <% else %>
              <%= image_tag 'no_image.jpg', size: "200x200" %>
            <% end %>
        </h3>

      <div class="field form-inline">
        <h4 style="margin-right:5%;">ユーザーネーム</h4>
        <p class="field" style="margin-right:5%;"><%= @customer.user_name %></p>
      </div>

      <div class="field form-inline">
        <h4 style="margin-right:5%;">メールアドレス</h4>
        <p class="field" style="margin-right:5%;"><%= @customer.email %></p>
      </div>

      <div class="field form-inline">
        <h4 style="margin-right:5%;">自己紹介</h4>
        <p class="field" style="margin-right:5%;"><%= @customer.introduction %></p>
      </div>

      <% if @customer == current_customer %>
      <div class="field form-inline">
        <h4 style="margin-right:5%;">募集中のリスト</h4>
      </div>
      <div class="field form-inline">
        <p class="field" style="margin-right:5%;"><%= link_to "ゲストハウス", guesthouse_community_path, class: "btn btn btn-primary text-white" %></p>
        <p class="field" style="margin-right:5%;"><%= link_to "レストラン", restaurant_community_path, class: "btn btn-primary text-white" %></p>
        <p class="field" style="margin-right:5%;"><%= link_to "アクティビティ", activity_community_path, class: "btn btn-primary text-white" %></p>
      </div>

      <div class="field form-inline">
        <h4 style="margin-right:5%;">申請中のリスト</h4>
      </div>
      <div class="field form-inline">
        <p class="field" style="margin-right:5%;"><%= link_to "ゲストハウス", guesthouse_apply_path, class: "btn btn btn-primary text-white" %></p>
        <p class="field" style="margin-right:5%;"><%= link_to "レストラン", restaurant_apply_path, class: "btn btn btn-primary text-white" %></p>
        <p class="field" style="margin-right:5%;"><%= link_to "アクティビティ", activity_apply_path, class: "btn btn btn-primary text-white" %></p>
      </div>

      <%= link_to "編集する", edit_customer_path(current_customer.id), class: "btn btn-success" %>
      <%= link_to "退会する", confirmation_path(current_customer.id), class: "btn btn-success" %>
      <% end %>

      </div>
    </div>
  </div>
</section>