<div class="container">
  <div class="row">
      <div class="col-4 info">
        <div class="card bg-transparent">
          <div class="card-detail mb-10">
            <header class="card-header">
              <h5 class="card-header-title">
                <div class="user-name">
                  <% if @guesthouse_review.customer.image.attached? %>
                    <%= image_tag @guesthouse_review.customer.image, class: "rounded-circle", size: "100x100" %>
                  <% else %>
                    <%= image_tag 'no_image', size: "100x100" %>
                  <% end %>
                  <%= @guesthouse_review.customer.user_name %>
                </div>
              </h5>
            </header>

            <!--コメント-->
            <table class="table table-primary">
              <thead>
                <tr>
                  <th scope="col">ユーザー名</th>
                  <th scope="col">コメント</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <% @guesthouse_comments.each do |comment| %>
                  <tr>
                    <td><%= comment.customer.name %></td>
                    <td><%= comment.content %></td>
                    <td>
                      <%= link_to "削除する", admin_guesthouse_guesthouse_review_guesthouse_comment_path(@guesthouse, @guesthouse_review, comment.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <!--コメントここまで-->

      </div>
    </div>
  </div>
</section>

  <script>
	$('.average-review-rating').empty().raty({
	  half: true,
		readOnly: true,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
	});
</script>

<script>
  var swiper = new Swiper(".mySwiper", {

    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    pagination: {
    el: ".swiper-pagination"
    },
  });
</script>

  <script>
	$('.review-rating').empty().raty({
	  half: true,
		readOnly: true,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
	});
</script>