            <div>
              <%= form_with model: [@guesthouse_review, @guesthouse_comment], url: guesthouse_guesthouse_review_guesthouse_comments_path(@guesthouse, @guesthouse_review) do |f| %>
                <%= f.text_area :content, rows: '5', placeholder: "コメントをここに" %>
                <%= f.submit "送信する" %>
              <% end %>
            </div>

            <!--コメント一覧-->
            <table>
              <thead>
                <tr>
                  <th>コメント投稿者</th>
                  <th>コメント内容</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @guesthouse_comments.each do |comment| %>
                  <tr>
                    <td><%= comment.customer.name %></td>
                    <td><%= comment.content %></td>
                    <td><%= link_to "削除する", guesthouse_guesthouse_review_guesthouse_comment_path(@guesthouse, @guesthouse_review, comment.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></td>

                  </tr>
                <% end %>
              </tbody>
            </table>
            <!--コメント一覧ここまで-->

