<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h3 class="title">
        レストラン情報登録<br><br>
      </h3>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <%= render 'layouts/reverror_messages' %>

        <%= form_with model: @restaurant, url: restaurants_path do |f| %>

          <div class="row mb-3">
            <%= f.label :国, class: "col-sm-2 col-form-label" %>
            <div class="col-sm-10">
              <%= f.collection_select(:country_id, Country.all, :id, :name) %>
            </div>
          </div>



          <div class="row mb-3">
            <%= f.label :レストラン名, class: "col-sm-2 col-form-label" %>
            <div class="col-sm-10">
              <%= f.text_field :name, class: "form-conrol" %>
            </div>
          </div>

          <div class="row mb-3">

            <div class="col-sm-10">
            <%= f.label :住所, class: "col-sm-2 col-form-label" %>
              <%= f.text_field :address, class: "form-conrol" %>
              <div>
                <%= f.label :latitude,"緯度" %>
                <%= f.text_field :latitude,:value =>"緯度", id: :lat %>
              </div>
              <div>
                <%= f.label :longitude,"経度" %>
                <%= f.text_field :longitude,:value =>"経度", id: :lng %>
              </div>

            </div>
          </div>

          <h2>Map</h2>

          <input id="address" type="textbox" value="GeekSalon">
          <input type="button" value="検索" onclick="codeAddress()">
          <p>マーカーをドラック＆ドロップで位置の調整ができます。<p>
          <div id='map'></div>

          <%= f.hidden_field :restaurant_id, :value => @restaurant.id %>


          <%= f.submit '登録', class: "btn btn-primary" %>

        <% end %>
      </div>
    </div>
  </div>
</secction>

<!--google map-->
<style>
#map {
  height: 600px;
  width: 600px;
}
</style>

<script>
//初期マップの設定
let map
let marker
function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center:  {lat: 35.6803997, lng:139.7690174},  //東京
    zoom: 15,

  });
}

//検索後のマップ作成
let geocoder
let aft
function codeAddress(){
  let inputAddress = document.getElementById('address').value;
  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
        //マーカーが複数できないようにする
        if (aft == true){
            marker.setMap(null);
        }

        //新しくマーカーを作成する
        map.setCenter(results[0].geometry.location);
            marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location,
            draggable: true	// ドラッグ可能にする
        });

        //二度目以降か判断
        aft = true

        //検索した時に緯度経度を入力する
        document.getElementById('lat').value = results[0].geometry.location.lat();
        document.getElementById('lng').value = results[0].geometry.location.lng();

        // マーカーのドロップ（ドラッグ終了）時のイベント
        google.maps.event.addListener( marker, 'dragend', function(ev){
            // イベントの引数evの、プロパティ.latLngが緯度経度
            document.getElementById('lat').value = ev.latLng.lat();
            document.getElementById('lng').value = ev.latLng.lng();
        });
    } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
