<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h3 class="title">
        アクティビティ情報登録<br><br>
      </h3>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <%= render 'layouts/acerror_messages' %>

        <%= form_with model: @activity, url: activities_path do |f| %>

          <div class="row mb-3">
            <%= f.label :国, class: "col-sm-2 col-form-label" %>
            <div class="col-sm-10">
              <%= f.collection_select(:country_id, Country.all, :id, :name) %>
            </div>
          </div>

          <div class="row mb-3">
            <%= f.label :アクティビティ名, class: "col-sm-2 col-form-label" %>
            <div class="col-sm-10">
              <%= f.text_field :name, class: "form-conrol" %>
            </div>
          </div>

          <div class="row mb-3">
            <%= f.label :住所, class: "col-sm-2 col-form-label" %>
            <div class="col-sm-10">
              <%= f.text_field :address, class: "form-conrol" %>
            </div>
          </div>

          <%= f.hidden_field :activity_id, :value => @activity.id %>


          <%= f.submit '登録', class: "btn btn-primary" %>


        <% end %>
      </div>
    </div>