
<div class="container">
	<div class="row">
	  <!--<div class="book-review">-->
		<div class="col-md-4 info">
		  <!--画像-->
  		<div class="book-info">
        <div class="swiper mySwiper">
          <div class="swiper-wrapper review-img">
            <% @activity.activity_reviews.each do |review| %>
              <div class="swiper-slide" role="group">
                  <% if review.image.attached? %>
                     <%= image_tag review.image, size: "300x300" %>
                  <% else %>
                     <%= image_tag 'no_image', size: "300x300" %>
                  <% end %>
              </div>
            <% end %>
          </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
      </div>
      <!--画像ここまで-->

      <!--情報ー-->
      <div style="text-align: center;" class="explaination">
        <div>【名前】</div>
        <div class="book-title"><%= @activity.name %></div>
        <div>【住所】</div>
  			<div class="book-author"><%= @activity.address %></div>
  			<div class="avg-rating">【レビュー平均点】</div>
  			<div class="average-review-rating" data-score=<%= get_average_activity(@activity) %>></div>
  			<span class="number-of-reviews"><%= @activity.activity_reviews.count %>件のレビュー</span>
  		</div>
  		<!--情報ここまで-->

        <div class="review-button my-3">
        	<td><%= link_to "レビューを書く", new_activity_activity_review_path(@activity), class: "btn btn btn-primary text-white btn-sm" %></td>
        	<td><%= link_to "仲間募集", activity_activity_communities_path(@activity), class: "btn btn btn-primary text-white btn-sm" %></td>
        </div>
        <div class="review-button mb-3" style="margin-top: 5px;">
        	<td><%= link_to "戻る", activities_path(country_id: @activity[:country_id]), class: "btn btn btn-info text-white" %></td>
        </div>
    </div>

  	<div class="col-md-8">
  		<div class="reviews">
  		  <!--サーチバー-->
  		  <div class="bar">
  		  <%= form_tag({ :controller => 'activities', :action => 'show' },{ :method => :get}) do %>
  		        <%= select_tag :activity_tag_id, options_from_collection_for_select(ActivityTag.all, :id, :name, params[:activity_tag_id]),{
                       prompt: 'トピックで絞り込み検索',
                       onchange: 'submit(this.form);'
                     }
              %>
        <% end %>
        </div>
        <!--サーチバーここまで-->
  			<!-- レビュー-->
    			<h5 style= "color: white;">レビュー</h5>
      			<div class="card bg-transparent">
              <% @activity_reviews.each do |activity_review| %>
                <div class="card-detail mb-10">
                  <header class="card-header">
                    <h5 class="card-header-title">
                      <div class="user-name">
                      <% if activity_review.customer.image.attached? %>
                        <%= image_tag activity_review.customer.image, class: "rounded-circle", size: "50x50" %>
                      <% else %>
                        <%= image_tag 'no_image', size: "50x50" %>
                      <% end %>
                      <%= activity_review.customer.user_name %>
                      </div>
                    </h5>
                  </header>
                  <div class="card-content">
                    <div class="review-rating" data-score=<%= activity_review.activity_score %>></div>
                    <p><%= activity_review.activity_price %>円</p>
                    <p class="tag">
                      <% activity_review.activity_tags.each do |tag| %>
                        <%= tag.name %>
                      <% end %>
                    </p>
                    <p><%= activity_review.activity_content %></p>
                      <% if activity_review.customer == current_customer %>
                        <%= link_to "編集する", edit_activity_activity_review_path(@activity, activity_review) %>
                      <% end %>
                       <% if activity_review.customer == current_customer %>
                        <%= link_to "削除する", activity_activity_review_path(@activity, activity_review), method: :delete, "data-confirm" => "本当に削除しますか？" %>
                      <% end %>
                    <div>
                    コメント件数：<%= link_to activity_review.activity_comments.count, activity_activity_review_activity_comments_path(@activity, activity_review) %>
                    </div>
                  </div><!--card-content end -->
                </div><!--card end -->
                <% end %>
              </div>
           </div>
        </div>
      </div>
  	</div>
    　<!--レビューここまで-->
  　<div style="text-align:center;"><%= paginate @activity_reviews %></div>
	  </div>
  </div>
</div>

</div>

  <script>
	$('.average-review-rating').empty().raty({
	  half: true,
		readOnly: true,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
	});
</script>

<script>
  var swiper = new Swiper(".mySwiper", {

    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    pagination: {
    el: ".swiper-pagination"
    },
  });
</script>

  <script>
	$('.review-rating').empty().raty({
	  half: true,
		readOnly: true,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
	});
</script>