
<div class="container">
	<div class="row">
	  <!--<div class="book-review">-->
		<div class="col-4">
		  <!--画像-->
  		<div class="book-info">
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <% @guesthouse.guesthouse_reviews.each do |review| %>
              <div class="swiper-slide" role="group">
                  <% if review.image.attached? %>
                     <%= image_tag review.image, size: "300x300" %>
                  <% else %>
                     <%= image_tag 'no_image', size: "300x300" %>
                  <% end %>
              </div>
            <% end %>
          </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>

        </div>
      </div>

            <!--レビュー-->
      <div style="text-align: center;">
        <div>【名前】</div>
        <div class="book-title"><%= @guesthouse.name %></div>
        <div>【住所】</div>
  			<div class="book-author"><%= @guesthouse.address %></div>
  			<div class="avg-rating">【レビュー平均点】</div>
  			<div class="average-review-rating" data-score=<%= get_average(@guesthouse) %>></div>
  			<span class="number-of-reviews"><%= @guesthouse.guesthouse_reviews.count %>件のレビュー</span>
  		</div>

  	</div>
  	<!--</div>-->
  	<div class="col-8">
  		<div class="reviews">
  			<!-- レビュー-->
    			<h1>レビュー</h1>
            <% @guesthouse_reviews.each do |guesthouse_review| %>
            <p><%= guesthouse_review.customer.user_name %></p>
            <div class="review-rating" data-score=<%= guesthouse_review.guesthouse_score %>></div>
            <p><%= guesthouse_review.guesthouse_price %>円</p>
            <p><%= guesthouse_review.guesthouse_content %></p>
            <% end %>
        </div>
  			<div>
  				<td><%= link_to "レビューを書く", (@guesthouse), class: "btn btn btn-secondary text-white" %></td>
  				<td><%= link_to "戻る", guesthouses_path(country_id: @guesthouse[:country_id]), class: "btn btn btn-secondary text-white" %></td>
  			</div>

  		</div>

  <div style="text-align:center;"><%= paginate @guesthouse_reviews %></div>
	    </div>
  </div>
</div>






<!--<section class="section">-->
<!--  <div class="container">-->
<!--    <div class="columns is-centered">-->
<!--      <div class="column is-6">-->
<!--        <!% @guesthouse_reviews.each do |guesthouse_review| %>-->
<!--        <!%= guesthouse_review.customer.user_name %>-->
<!--        <!%= guesthouse_review.guesthouse_score %>-->
<!--        <!%= guesthouse_review.guesthouse_price %>-->
<!--        <!%= guesthouse_review.guesthouse_content %>-->
<!--        <!% end %>-->
<!--        <td><!%= link_to "レビューを書く", new_guesthouse_guesthouse_review_path(@guesthouse), class: "btn btn btn-secondary text-white" %></td>-->
<!--        <td><!%= link_to "戻る", guesthouses_path(country_id: @guesthouse[:country_id]), class: "btn btn btn-secondary text-white" %></td>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

  <script>
	$('.average-review-rating').raty({
	  half: true,
		readOnly: true,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
	});
</script>

<script>
  var swiper = new Swiper(".mySwiper", {

    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    pagination: {
    el: ".swiper-pagination"
    },
  });
</script>

  <script>
	$('.review-rating').raty({
	  half: true,
		readOnly: true,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
	});
</script>