<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h3 class="title">
        自分が募集しているコミュニティ<br><br>
      </h3>

       <div class="container-fluid">
      	<div class="row">
      		<div class="col-md-12">
      			<div class="card" style="text-align :center;">
      			 <% @guesthouse_communities.each do |community| %>
      				<h5 class="card-header">
      					<%= community.title %>
      				</h5>
      				<div class="card-body">
      					<p class="card-text">
      						<%= community.body %>
      					</p>
      				</div>
      				<div class="card-footer">
      					<%= community.start_date %>から<%= community.end_date %>まで募集中
      				</div>
      				<% end %>
      			</div>
      		</div>
      	</div>
      </div>


<table class="table table-primary" style="margin-top: 5px;">
  <thead class="table-active">
  	<tr>
  		<th scope="col">申請者</th>
  		<th scope="col"></th>
  	</tr>
  </thead>

  <tbody>
    <% @guesthouse_applies.each do |apply| %>
      <tr>
        <td>
        	<% if apply.customer.image.attached? %>
            <%= image_tag apply.customer.image, class: "rounded-circle", size: "100x100" %>
          <% else %>
            <%= image_tag 'no_image', size: "100x100" %>
          <% end %>
          <%= link_to apply.customer.user_name, customer_path(@customer) %>
        </td>
        <td>
         <%= form_with model: @guesthouse_apply, url: guesthouse_community_guesthouse_applies_path(@guesthouse_community) do |f| %>
          <div>
          	<%= f.radio_button :status, GuesthouseApply.statuses.key(1) %>
          	<label class="payment-label">承認</label>
          </div>
        	<div>
          	<%= f.radio_button :status, GuesthouseApply.statuses.key(2) %>
          	<label class="payment_label">却下</label>
        	</div>
        	<%= f.submit '決定', class: "btn btn-primary" %>
        	<% end %>
        </td>
    <% end %>
  </tbody>
</table>cd



    </div>
  </div>
</section>