<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h3 class="title">
        自分が募集しているコミュニティ<br><br>
      </h3>


<table class="table table-primary">
  <thead class="table-active">
  	<tr>
  		<th scope="col">タイトル</th>
  		<th scope="col">募集内容</th>
  		<th scope="col">募集開始</th>
  		<th scope="col">募集終了</th>
  		<th scope="col"></th>
  	</tr>
  </thead>

  <tbody>
    <% @guesthouse_communities.each do |community| %>
      <tr>
        <td><%= community.title %></td>
        <td><%= community.body %></td>
        <td><%= community.start_date %></td>
        <td><%= community.end_date %></td>
        <td>
         <%= form_with model: @guesthouse_apply, url: guesthouse_community_guesthouse_applies_path(community.id) do |f| %>
          <div>
          	<%= f.radio_button :status, GuesthouseApply.statuses.key(1) %>
          	<label class="payment-label">承認</label>
          </div>
        	<div>
          	<%= f.radio_button :status, GuesthouseApply.statuses.key(2) %>
          	<label class="payment_label">却下</label>
        	</div>
        	<% end %>
        </td>
    <% end %>
  </tbody>
</table>

    </div>
  </div>
</section>