<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h3 class="title">
        自分が募集しているコミュニティ<br><br>
      </h3>

       <div class="container-fluid">
      	<div class="row">
      	  <% @guesthouse_communities.each do |community| %>
      		<div class="col-md-12">
      			<div class="card mb-2" style="text-align :center;">
      				<h5 class="card-header">
      					【<%= community.guesthouse.name %>】<%= community.title %>
      				</h5>
      				<div class="card-body">
      					<div class="card-text">
      						<%= simple_format(community.body) %>
      						<div class="">
      						  <h5>申請者</h5>
        						<div class="row">
        						    <% community.guesthouse_applies.each do |apply| %>
          						    <div class="col-md-4">
                            <div class="card">
                              <div class="card-text">
                                <% if apply.customer.image.attached? %>
                                  <%= image_tag apply.customer.image, class: "rounded-circle", size: "50x50" %>
                                <% else %>
                                  <%= image_tag 'no_image', size: "50x50" %>
                                <% end %>
                                <%= link_to apply.customer.user_name, customer_path(@customer) %>
                                <hr>
                                <%= form_with model: @guesthouse_apply, url: guesthouse_community_guesthouse_apply_path(community.id, apply.id), method: :put do |f| %>
                                  <div>
                                  	<label class="payment-label"><%= f.radio_button :status, GuesthouseApply.statuses.key(0) %> 承認</label>
                                  </div>
                                	<div>
                                  	<label class="payment_label"><%= f.radio_button :status, GuesthouseApply.statuses.key(1) %> 却下</label>
                                	</div>
                                	<%= f.submit '決定', class: "btn btn-primary" %>
                              	<% end %>
                              </div>
                            </div>
                          </div>
                        <% end %>
        						</div>
      						</div>
      					</div>
      				</div>
      				<div><%= link_to "削除する", guesthouse_guesthouse_community_path(community.guesthouse_id, community.id), method: :delete, "data-confirm" => "本当に削除しますか？" %> </div>
      				<div class="card-footer">
      					<%= community.start_date %>から<%= community.end_date %>まで募集中
      				</div>

      			</div>
      		</div>
      		<% end %>
      	</div>
      </div>
    </div>
  </div>
  <div class="review-button">
  	<td><%= link_to "マイページへ戻る", customer_path(@customer.id), class: "btn btn btn-primary text-white" %></td>
  </div>
</section>