<div class="container">
  <div class="row">
      <div class="col-4 info">
        <div class="card bg-transparent">
          <div class="card-detail mb-10">
            <header class="card-header">
              <h5 class="card-header-title">
                <div class="user-name">
                  <% if @activity_review.customer.image.attached? %>
                    <%= image_tag @activity_review.customer.image, class: "rounded-circle", size: "100x100" %>
                  <% else %>
                    <%= image_tag 'no_image', size: "100x100" %>
                  <% end %>
                  <%= @activity_review.customer.user_name %>
                </div>
              </h5>
            </header>

            <div class="review-rating" data-score=<%= @activity_review.activity_score %>></div>
            <p>使用額：<%= @activity_review.activity_price %></p>
            <p class="tag">
              トピック：<% @activity_review.activity_tags.each do |tag| %>
              <%= tag.name %>
            <% end %>
            </p>
            <p>感想：<%= @activity_review.activity_content %></p>
          </div>
        </div>
       </div>

          <div class="col-8">
            <!--コメント-->
            <table class="table table-primary" style="margin-top: 80px;">
              <thead>
                <tr>
                  <th scope="col">ユーザー名</th>
                  <th scope="col">コメント</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <% @activity_comments.each do |comment| %>
                  <tr>
                    <td><%= comment.customer.name %></td>
                    <td><%= comment.content %></td>
                    <td>
                      <%= link_to "削除する", admin_activity_activity_review_activity_comment_path(@activity, @activity_review, comment.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <!--コメントここまで-->
        <div class="review-button"><%= link_to "戻る",  admin_activity_path(@activity.id), class: "btn btn btn-primary text-white" %></div>
        </div>
      </div>
    </div>
  </div>
</section>


  <script>
	$('.average-review-rating').empty().raty({
	  half: true,
		readOnly: true,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
	});
</script>

<script>
  var swiper = new Swiper(".mySwiper", {

    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    pagination: {
    el: ".swiper-pagination"
    },
  });
</script>

  <script>
	$('.review-rating').empty().raty({
	  half: true,
		readOnly: true,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
	});
</script>